XML/music_store.dtd

<!--PLACEHOLDER FOR NOW-->
<!--DATA SCHEMA STRUCTURE-->
<!ELEMENT MusicStore (Instrument*, Vinyl*, Customer*, Employee*)>

<!-- INSTRUMENT -->
<!ELEMENT Instrument (InstrumentID, InstrumentName, Brand, InstrumentPrice)>
<!ELEMENT InstrumentID (#PCDATA)>
<!ELEMENT InstrumentName (#PCDATA)>
<!ELEMENT Brand (#PCDATA)>
<!ELEMENT InstrumentPrice (#PCDATA)>

<!-- VINYL -->
<!ELEMENT Vinyl (VinylID, Title, Artist, Genre, VinylPrice)>
<!ELEMENT VinylID (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Artist (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT VinylPrice (#PCDATA)>

<!-- CUSTOMER -->
<!ELEMENT Customer (CustomerID, CustomerName, Email, Phone)>
<!ELEMENT CustomerID (#PCDATA)>
<!ELEMENT CustomerName (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>

<!-- EMPLOYEE -->
<!ELEMENT Employee (EmployeeID, EmployeeName, Role)>
<!ELEMENT EmployeeID (#PCDATA)>
<!ELEMENT EmployeeName (#PCDATA)>
<!ELEMENT Role (#PCDATA)>
