XML/music_store.dtd

<!--PLACEHOLDER FOR NOW-->
<!--DATA SCHEMA STRUCTURE-->
<!ELEMENT MusicStore (Instrument*, Vinyl*, Customer*, Employee*)>

<!-- INSTRUMENT -->
<!ELEMENT Instrument (InstrumentName, Brand, InstrumentPrice, InstrumentImage)>
<!ATTLIST Instrument id ID #REQUIRED>
<!ELEMENT InstrumentName (#PCDATA)>
<!ELEMENT Brand (#PCDATA)>
<!ELEMENT InstrumentPrice (#PCDATA)>
<!ELEMENT InstrumentImage (#PCDATA)>


<!-- VINYL -->
<!ELEMENT Vinyl (Title, Artist, Genre, VinylPrice, VinylImage)>
<!ATTLIST Vinyl id ID #REQUIRED>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Artist (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT VinylPrice (#PCDATA)>
<!ELEMENT VinylImage (#PCDATA)>

<!-- CUSTOMER -->
<!ELEMENT Customer (CustomerName, Email, Phone)>
<!ATTLIST Customer id ID #REQUIRED>
<!ELEMENT CustomerName (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>

<!-- EMPLOYEE -->
<!ELEMENT Employee (EmployeeName, Role)>
<!ATTLIST Employee id ID #REQUIRED>
<!ELEMENT EmployeeName (#PCDATA)>
<!ELEMENT Role (#PCDATA)>